@model List<ServiceViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
 
@inject IViewLocalizer Localizer
@section header{
<link rel="stylesheet" href="~/css/services.min.css" />
}
<section class="page-header header-filter clear-filter" data-parallax="true">
    <div class="container">
        <div class="row">
            <div class="col-md-6 my-auto order-md-1 order-2">
                <h1 class="page-title fs-64">@Localizer["Servicesa"]</h1>
                <p class="section-desc fs-24">@Localizer["Header"]</p>
            </div>
            <div class="col-md-6 order-md-2 order-1 text-md-border-right text-center">
                <img class="img-fluid" src="~/image/services.png" alt="trainings" />
            </div>
        </div>
    </div>
</section>
<section class="small-desc">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="section-title fs-48">@Localizer["OurServicesa"]</p>
                <p class="section-desc fs-24">@Localizer["Service1"]</p>
                <div class="desc">
                    <p class="section-desc fs-24"><img src="~/image/icons/circle-check-yellow.png" class="img-fluid" alt="icon" /> @Localizer["Point1"]</p>
                    <p class="section-desc fs-24"><img src="~/image/icons/circle-check-yellow.png" class="img-fluid" alt="icon" /> @Localizer["Point2"]</p>
                    <p class="section-desc fs-24"><img src="~/image/icons/circle-check-yellow.png" class="img-fluid" alt="icon" /> @Localizer["Point3"]</p>
                    <p class="section-desc fs-24"><img src="~/image/icons/circle-check-yellow.png" class="img-fluid" alt="icon" /> @Localizer["Point4"]</p>
                    <p class="section-desc fs-24"><img src="~/image/icons/circle-check-yellow.png" class="img-fluid" alt="icon" /> @Localizer["Point5"]</p>
                    <p class="section-desc fs-24"><img src="~/image/icons/circle-check-yellow.png" class="img-fluid" alt="icon" /> @Localizer["Point6"]</p>
                </div>
                <p class="section-desc fs-24">@Localizer["Service2"]</p>
            </div>
        </div>
        <div class="" id="services">
            @foreach(var item in Model)
            {
                 <div class="card">
                <div class="card-header" id="serviceshead@(item.Id)">
                    <a href="#" class="btn btn-header-link collapsed fs-24" data-toggle="collapse" data-target="#services@(item.Id)"
                       aria-expanded="true" aria-controls="services@(item.Id)">@item.Name</a>
                </div>

                <div id="services@(item.Id)" class="collapse" aria-labelledby="serviceshead@(item.Id)" data-parent="#services">
                    <div class="card-body">
                        @Html.Raw(item.Description)
                    </div>
                </div>
            </div>
            }
           
          
        </div>
    </div>
</section>
<section class="our-services">
</section>

