@model List<TrainingParticipantViewModel>
@{
    Layout = "_AdminLayout";
}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<a asp-controller="Admin" asp-action="ManageService" data-bs-toggle="modal" data-bs-target="#dialogDiv" class="btn btn-success open-modal">Add</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Address</th>
            <th>DateOfBirth</th>
            <th>Email</th>
            <th>PhoneNumber</th>
            <th>TrainingId</th>
            <th>Level</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Address</td>
                <td>@item.DateOfBirth</td>
                <td>@item.Email</td>
                <td>@item.PhoneNumber</td>
                <td>@item.TrainingId</td>
                <td>@item.Level</td>
                <td>
                    <a asp-controller="Admin" asp-action="ManageService" asp-route-id="@item.Id" data-bs-toggle="modal" data-bs-target="#dialogDiv" class="btn btn-success open-modal">Edit</a>
                    <a asp-controller="Admin" asp-action="DeleteService" asp-route-id="@item.Id" data-bs-toggle="modal" data-bs-target="#dialogDiv" class="btn btn-danger open-modal">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>